@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inject IWebAssemblyHostEnvironment Env

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @if (Env.IsDevelopment())
        {
            <div class="top-row px-4">
                <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">learn.microsoft</a>
            </div>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
