@page "/"
@using Utils;
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inject NavigationManager navigationManager
@inject IWebAssemblyHostEnvironment Env

@if (Env.IsDevelopment())
{
    <!--
    <div>MyNavigationManager.Uri=@(navigationManager.Uri)</div>
    <div>MyNavigationManager.BaseUri=@(navigationManager.BaseUri)</div>
    -->

    <NavLink class="nav-link" href="./docs/test/test.md">
        ./docs/test/test.md
    </NavLink>
    <NavLink class="nav-link" href="./docs/test/test2.md">
        ./docs/test/test2.md
    </NavLink>
    <NavLink class="nav-link" href="./docs/test/test3.md">
        ./docs/test/test3.md
    </NavLink>
    <NavLink class="nav-link" href="./docs/test/test3.md#h6">
        ./docs/test/test3.md#h6
    </NavLink>

    <hr />
    <p>************************************</p>
    <hr />
    <div style="color: red;">
        <strong>デバッグモード: 開発環境です</strong>
    </div>
    <hr />
}
<a href="./docs/">docs</a>
<br />
<a href="./mdfiles/index.md">mdfiles/index.md</a>
<br />

